/** Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

/** Basic styling */
body {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", STXihei, "Microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
    color: #202124;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;

}

.accent-font {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", STXihei, "Microsoft yahei", "WenQuanYi Micro Hei", sans-serif;
}

.accent-text-color {
    color: #5c5c5c;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 15px;
}

hr {
    margin-top: 90px;
    margin-bottom: 90px;
}

/** Images */
img {
    max-width: 100%;
    vertical-align: middle;
}

/** Figures */
figure>img {
    display: block;
}

figcaption {
    font-size: 14px;
}

/** Lists */
ul,
ol {
    margin-left: 30px;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

/** Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/** Links */
a {
    color: #000000;
    text-decoration: none;
}

/** Blockquotes */
blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote> :last-child {
    margin-bottom: 0;
}

/** Code formatting */
pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

/** Wrapper */
.wrapper {
    max-width: -webkit-calc(1020px - (30px * 2));
    max-width: calc(1020px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 60px;
}

@media screen and (max-width: 750px) {
    .wrapper {
        max-width: -webkit-calc(1020px - (30px));
        max-width: calc(1020px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

/** Clearfix */
.wrapper:after {
    display: table;
    clear: both;
}

/** Icons */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list li+li {
    padding-top: 5px;
}

/** Tables */
table {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #4b4e55;
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #f7f7f7;
}

table th,
table td {
    padding: 10px 15px;
}

table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9;
}

table td {
    border: 1px solid #e8e8e8;
}

/** Home */
@media screen and (max-width: 500px) {
    .home {
        width: 100%;
    }
}

/** Site header */
.site-header {
    min-height: 55.95px;
    padding-top: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.site-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
}

.site-nav .nav-trigger {
    display: none;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 750px) {
    .site-nav {
        position: absolute;
        top: 25px;
        right: 30px;
        background-color: #ffffff;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: center;
    }

    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    .site-nav .menu-icon>svg path {
        fill: #424242;
    }

    .site-nav input~.trigger {
        clear: both;
        display: none;
    }

    .site-nav input:checked~.trigger {
        display: block;
        padding-bottom: 5px;
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
    }

    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }
}

@media screen and (max-width: 750px) and (max-width: 750px) {
    .site-nav .page-link {
        margin-left: 0;
    }
}

.lightgrey-on-hover:hover {
    color: #828282;
}

/** Site footer */
.wrapper {
    display: flex;
    justify-content: space-between;
}

.site-footer {
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    .site-footer .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .site-footer .wrapper p {
        text-align: center;
        padding: 10px 0;
    }
}

.footer-social-icons {
    display: flex;
}

.footer-icon-img {
    width: 32px;
    height: 32px;
    padding-right: 16px;
}

.footer-copyright {
    display: flex;
}

.footer-copyright-text {
    font-size: 16px;
    font-weight: 100;
}

/** Homepage intro */
.intro {
    margin-top: 140px;
    margin-bottom: 180px;
    width: 75%;
}

@media screen and (max-width: 1000px) {
    .intro {
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
    }
}

.primary-hero-text-top {
    font-size:3em;
    line-height: 1.3em;
    font-weight: bold;
    margin-bottom: 15;
    line-height: 1.4em;
}

.primary-hero-text-bottom {
    font-size: 32px;
    line-height: 1.3em;
    font-weight: bold;
    line-height: 1.4em;
    margin-bottom: 20px;
}

.hero-subtext {
    font-weight: 400;
    line-height: 1.6em;
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 0;
}

.hero-subtext-width {
    width: 70%;
}

@media screen and (max-width: 750px) {
    .hero-subtext-width {
        width: 90%;
    }
}

.index-flower-div-wrapper {
    position: relative;
}

.index-flower-div {
    position: absolute;
    top: -94px;
    right: -160px;
    z-index: -5;
    width: 300px;
    height: auto;
}

/** Homepage post previews */
@media screen and (max-width: 500px) {
    .post {
        width: 100%;
    }

    .post img {
        width: 100%;
    }
}

.post-preview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.post-preview button {
    width: 180px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    background: lightgray;
    border: none;
    color: black;
    padding: 10px;
}

.post-preview img {
    transition: transform 0.2s;
    display: block;
    border-radius: 26px;
    max-width: 600px;
    width: auto;
    height: auto;
}

.post-preview .post-link {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.post-preview .post-date {
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
}

.post-preview .post-meta {
    font-size: 16px;
    color: #828282;
}

@media screen and (max-width: 750px) {
    .post-preview {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

.post-preview:hover img {
    transform: scale(1.05);
}

.post-preview-right {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 45px;
}

@media screen and (max-width: 750px) {
    .post-preview-right {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .post-preview-right {
        width: 100%;
    }

    .post-preview-right img {
        width: 100%;
    }
}

.post-preview-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 0 0;
}

@media screen and (max-width: 750px) {
    .post-preview-left {
        margin-bottom: 20px;
    }
}

.post-preview-left .view-case-study-link {
    font-size: 16px;
    font-weight: 300;
}

.post-preview-left .view-case-study-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
}

.post-preview-left .turquoise-case-study-link-color {
    color: #06c;
    font-weight: 300;
}

.post-preview-left .pink-case-study-link-color {
    color: #06c;
    font-weight: 300;
}

.project-preview-hero-text {
    font-size: 28.8px;
    font-weight: bold;
    margin-bottom: 24px;
}

.project-preview-hero-subtext {
    font-weight: 100;
    line-height: 1.6em;
    font-size: 12.8px;
    line-height: 1.4em;
    font-weight: 400;
    margin-bottom: 0px;
    letter-spacing: .02em;
}

.project-preview-subtext {
    font-weight: 400;
    line-height: 1.6em;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 10px;
    width: 85%;
}

/** Page content */
.page-content {
    padding: 30px 0;
}

.post-list-heading {
    font-size: 28px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list>li {
    margin-bottom: 10px;
}

/** Posts */
.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

@media screen and (max-width: 750px) {
    .post-title {
        font-size: 36px;
    }
}

.post-content-wrapper {
    display: flex;
    justify-content: center;
}

.post-content {
    width: 90%;
    margin-bottom: 30px;
    font-size: 17.6px;
}

@media screen and (max-width: 750px) {
    .post-content {
        width: 95%;
    }
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
    font-weight: 600;
    color: #202124;
    margin-top: 50px;
    margin-bottom: 13px;
}

.post-content h1,
.post-content h3,
.post-content h4 {
    font-size: 18.88px;
}

.post-content h2 {
    font-size: 14.4px;
    color: #5F6368;
}

.post-content p,
.post-content li {
    color: #3C4043;
    font-weight: 100;
    line-height: 1.6em;
    font-size: 16px;
}

.post-content .interviewQ-highlight {
    background-color: #BBE2FF;
    box-shadow: 0 12px 0 0 #fff inset;
}

.post-content .readeasy-highlight {
    background-color: #FFD1D4;
    box-shadow: 0 12px 0 0 #fff inset;
}

.post-content img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.picture-by-text-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.picture-by-text-content .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

@media screen and (max-width: 500px) {
    .picture-by-text-content .text-content {
        width: 95%;
    }
}

.picture-by-text-content .space-right {
    margin-right: 20px;
}

@media screen and (max-width: 500px) {
    .picture-by-text-content .space-right {
        margin-right: 0;
    }
}

.picture-by-text-content .space-left {
    margin-left: 20px;
}

@media screen and (max-width: 500px) {
    .picture-by-text-content .space-left {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .picture-by-text-content {
        flex-direction: column;
    }
}

.img-with-caption-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.img-with-caption-wrapper .img-caption {
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: -20px;
    color: #5F6368;
    font-size: 14.4px;
}

.lightbulb-list {
    list-style-type: none;
}

.lightbulb-list li:before {
    content: '\1F4A1';
    margin-left: -20px;
}

@media screen and (max-width: 500px) {
    .reverse-on-small {
        flex-direction: column-reverse;
    }
}

.final-prototype-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.final-prototype-button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    background: #5C9BEF;
    border: none;
    color: white;
    padding: 10px;
}

.final-prototype {
    display: flex;
    justify-content: center;
}

.final-prototype iframe {
    width: 438px;
    height: 930px;
}

.case-study-strong-text {
    font-weight: 500;
}

.case-study-headliner-text {
    line-height: 1.8em;
    letter-spacing: 0.06em;
    text-align: left;
    font-size: 18px;
    font-weight: 100;
}

.small-image {
    width: 300px;
}

.inter-study-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.inter-study-nav a {
    color: #3C4043;
    font-weight: 100;
    line-height: 1.8em;
    font-size: 16px;
}

.medium-centered-image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.medium-centered-image img {
    width: 70%;
}

.small-centered-image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.small-centered-image img {
    width: 50%;
}

/** About page */
.about-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 750px) {
    .about-page-content {
        margin-top: 0;
    }
}

.about-page-content h2 {
    font-size: 22.4px;
}

@media screen and (max-width: 750px) {
    .about-page-content h2 {
        font-size: 20px;
    }
}

.about-page-top {
    display: flex;
    width: 90%;
}

@media screen and (max-width: 750px) {
    .about-page-top {
        flex-direction: column;
        align-items: center;
    }

    .about-page-top img {
        max-width: 400px;
        margin-bottom: 30px;
    }
}

.about-page-right {
    margin-top: 25px;
    margin-left: 30px;
    font-weight: 100;
    line-height: 1.6em;
}

@media screen and (max-width: 750px) {
    .about-page-right {
        margin-left: 0;
    }
}

.about-page-left {
    margin-top: 30px;
}

.about-page-left img {
    max-width: 370px;
    max-height: 480px;
}

@media screen and (max-width: 500px) {
    .about-page-left img {
        max-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .about-page-left {
        margin-top: 0;
    }
}

.about-page-bottom {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 60px;
}

.about-page-bottom p {
    color: #202124;
}

.about-flower-div-wrapper {
    position: relative;
}

.about-flower-div {
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: 0;
}

/** Flower art */
@media screen and (max-width: 1000px) {
    .flower-art {
        display: none;
    }
}

/** Syntax highlighting styles */
.highlight {
    background: #fff;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight .c {
    color: #998;
    font-style: italic;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .k {
    font-weight: bold;
}

.highlight .o {
    font-weight: bold;
}

.highlight .cm {
    color: #998;
    font-style: italic;
}

.highlight .cp {
    color: #999;
    font-weight: bold;
}

.highlight .c1 {
    color: #998;
    font-style: italic;
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: bold;
}

.highlight .kd {
    font-weight: bold;
}

.highlight .kp {
    font-weight: bold;
}

.highlight .kr {
    font-weight: bold;
}

.highlight .kt {
    color: #458;
    font-weight: bold;
}

.highlight .m {
    color: #099;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: #008080;
}

.highlight .nb {
    color: #0086B3;
}

.highlight .nc {
    color: #458;
    font-weight: bold;
}

.highlight .no {
    color: #008080;
}

.highlight .ni {
    color: #800080;
}

.highlight .ne {
    color: #900;
    font-weight: bold;
}

.highlight .nf {
    color: #900;
    font-weight: bold;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    color: #000080;
}

.highlight .nv {
    color: #008080;
}

.highlight .ow {
    font-weight: bold;
}

.highlight .w {
    color: #bbb;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999;
}

.highlight .vc {
    color: #008080;
}

.highlight .vg {
    color: #008080;
}

.highlight .vi {
    color: #008080;
}

.highlight .il {
    color: #099;
}

/*# sourceMappingURL=main.css.map */